/*!*************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/source.css ***!
  \*************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap);
/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/source.css (1) ***!
  \*****************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap);
/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/source.css (2) ***!
  \*****************************************************************************/
header .navbar {
  padding: 25px 2% 10px 2%;
}

header nav .navbar-brand {
  margin-left: 0.7em;
  font-size: 1.3em;
  font-family: Roboto;
  font-weight: 600;
  text-transform: uppercase;
}

header nav ul li .nav-link {
  color: #232323;
  transition: 500ms;
  margin: 5px;
  padding: 4px 10px;
  border-radius: 7px;
  font-size: 1.1em;
  font-family: Poppins;
  font-weight: 400;
  text-transform: none;
}
header nav ul li .nav-link.signupBtn {
  background-color: #daeaee;
}
header nav ul li .nav-link.signupBtn:hover {
  background-color: transparent;
}
header nav ul li .nav-link.loginBtn {
  background-color: #daeaee;
}
header nav ul li .nav-link.loginBtn:hover {
  background-color: transparent;
}

