@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$colorWhite: #eff1f3ec;
$colorDark: #272727c4;
$font-primary: Poppins, Arial, Helvetica, sans-serif;
$font-secundary: Roboto, Arial, Helvetica, sans-serif;

/* Media Queries */
$screen-sm: 478px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;
