@import "../variables/variables.scss";

@mixin font-style($font-size, $font-family, $font-weight, $text-tranform, $color) {
    font-size: $font-size;
    font-family: $font-family;
    font-weight: $font-weight;
    text-transform: $text-tranform;
    color: $color;
}

@mixin common-measures($margin, $padding, $border-radius) {
    margin: $margin;
    padding: $padding;
    border-radius: $border-radius;
}

header {
    @include common-measures(0, 1em, none);
    width: 100%;
}

header nav .name-company {
    margin-left: .7em;
    @include font-style(1.5rem, $font-secundary, 600, uppercase, $colorDark);
}

header nav ul li .nav-link {
    transition: 500ms;
    @include common-measures(5px, 4px 10px, 7px);
    @include font-style(1.1em, $font-primary, 400, none, $colorDark);

    &:hover {
        text-decoration: underline;
    }

    &.signupBtn, &.loginBtn {
        background-color: $colorWhite;

        &:hover {
            background-color: transparent;
        }
    }
}

main #main-content {
    min-height: 100vh;
    justify-content: center;
    border-radius: 0;
}

main #main-content .card-body .card-title {
    text-shadow: 0px 0px 100px $colorDark;
    @include font-style(none, $font-secundary, 600, none, $colorWhite)
}

main #main-content .card-body #card-description {
    @include font-style(1.1em, $font-primary, 400, none, $colorDark)
} 

@media (max-width: 768px) {
     header nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #illustration {
        margin: auto;
    }
}

